parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - tests/TestCase.php
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        - '#Call to an undefined static method.*#'
        - '#Cannot call method.*on mixed#'
        - '#Method.*should return.*but returns mixed#'
        - '#Access to an undefined property.*#'
        - '#Unable to resolve the template type.*#'
        - '#Method.*has parameter.*with no type specified#'
        - '#Call to an undefined method.*Builder.*::forRole\(\)#'
        - '#Call to an undefined method.*Builder.*::forCategory\(\)#'
    bootstrapFiles:
        - vendor/autoload.php
        - phpstan-bootstrap.php
